ConfigArgParse == 1.7
Jinja2 == 3.1.2
Mako == 1.2.4
MarkupSafe == 2.1.3
Pygments == 2.16.1
asttokens == 2.4.0
attrs == 23.1.0
black == 23.10.1
boltons == 23.0.0
cached-property == 1.5.2
click == 8.1.7
cmake == 3.27.7
cytoolz == 0.12.2
deepdiff == 6.6.1
devtools == 0.12.2
executing == 2.0.0
fprettify == 0.3.7
frozendict == 2.3.8
gridtools-cpp == 2.3.1
gt4py == 1.0.1
icon4py-atmosphere-advection == 0.0.6
icon4py-atmosphere-diffusion == 0.0.6
icon4py-atmosphere-dycore == 0.0.6
icon4py-common == 0.0.6
icon4py-driver == 0.0.6
icon4pytools == 0.0.6
lark == 1.1.8
mypy-extensions == 1.0.0
nanobind == 1.7.0
ninja == 1.11.1.1
numpy == 1.26.1
ordered-set == 4.1.0
packaging == 23.2
pathspec == 0.11.2
platformdirs == 3.11.0
pybind11 == 2.11.1
pytz == 2023.3.post1
setuptools == 68.2.2
six == 1.16.0
tabulate == 0.9.0
tomli == 2.0.1
toolz == 0.12.0
typing_extensions == 4.5.0
xxhash == 3.0.0
